*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.v-input__slot {
  padding: 0px !important;
  margin: 0px !important;
}
.v-text-field__slot {
  padding-inline: 5px !important;
}
