:root {
  --primary: #de1d9d;
  --primary2: #f8d2eb;
  --primary3: #fbe8f5;
  --secondary: #212cff;
  --secondary2: #d3d5ff;
  --secondary3: #e8e9ff;
  --accent: #8c9eff;
  --error: #b71c1c;
  --gray: #f7f8f9;
  --gray2: #dadada;
  --gray3: #939393;
  --signoutBg: #ffe9ed;
  --SuccessMsg: #f1fff2;
  --SuccessMsgBorder: #a6dba9;
  --ErrorMsg: #fae1e4;
  --ErrorMsgBorder: #e37f8f;
  --ValidationRight: rgb(75 174 79);
  --ValidationWrong: rgb(208 44 71);
  --SuccesInput: #7fc582;
}
