.addUser {
  border-radius: 10px;
  margin-inline: 5px;
  &__btn {
    height: 48px !important;
    margin-inline: 8.5px;
    border-radius: 8.9px;
  }
}
.v-input__control {
  border-radius: 10px !important;
}
.v-text-field__slot {
  #input-27 {
    padding-top: 16px;
    padding-left: 5px;
  }
}
#input-29 {
  margin-top: 9px !important;
}
