.appBar {
  border-end-end-radius: 18px !important;
  border-start-end-radius: 18px !important;
  background-color: white !important;
  border: solid 1px var(--gray2) !important;
}

.appBarIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-inline: 5px;
  &__localeSwitcherBtn {
    padding: 5px 10px;
    border-radius: 15px;
    background: rgba(42, 228, 212, 0.836);
    cursor: pointer;
    border: solid 1px;
  }
}
