.appBarIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  &__signoutBg,
  &__settingBg {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  &__settingBg {
    background-color: var(--primary2);
  }
  &__dividerLine {
    border-left: var(--gray2) 1px solid;
    height: 60%;
    margin-right: 8px;
  }
  &__signoutBg {
    background-color: var(--primary3);
  }
}
