.dataTable {
  border: solid var(--gray2) 1px;
  border-radius: 10px;
  box-shadow: none !important;
  &__avatarSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    &__img {
      width: 100%;
    }
  }
  &__jobSlot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon {
      display: flex;
      &--sizing {
        margin: 8px;
        max-width: 35px;
        max-height: 35px;
        cursor: pointer;
      }
    }
  }
}
.v-data-footer {
  display: none;
}
/* [dir="rtl"] .mdi-chevron-left::before {
  content: "\F0142";
}
[dir="rtl"] .mdi-chevron-right::before {
  content: "\F0141";
}
[dir="rtl"] .v-data-footer__select {
  flex-direction: row-reverse;
} */
/* .v-data-footer__icons-before {
} */
