.drawer-icon {
  display: inline-block;
  cursor: pointer;
  color: var(--primary);
  &__bar1,
  &__bar2,
  &__bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change &__bar2 {
    width: 50%;
  }
}
