.errorMsgAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--ErrorMsgBorder) 1px !important;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--ErrorMsg) !important;
  &__img {
    margin: 8px;
    width: 20px;
  }
}
