.v-list-item--active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary);
  opacity: 1 !important;
}
.v-list-item--active {
  background-color: var(--primary3);
  .navigationDrawer__Item__icon {
    background-color: white !important;
  }
}
.v-list-item--link:before {
  transition: 0s; // removing flickering  when switching from item to another
}
.navigationDrawer {
  border: solid 1px var(--gray2);
  border-top-left-radius: 20px;
  &__avatar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 13px;
  }
  &__Item {
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
      background-color: var(--gray2);
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      &__img {
        width: 100%;
        height: 120%;
      }
    }
  }
}
/* [dir="rtl"] .v-list-item {
  gap: 0px !important;
}
[dir="rtl"] .v-list-item__icon:first-child {
  margin-right: 0 !important;
} */
/* .v-list-item {
    padding: 0 0px !important;
  } */
/* v-list-item-icon {
    margin-right: 16px !important;
  } */

/* v-list-item-icon {
    margin-right: 0;
    margin-left: 16px !important;
  } */
