.sucessMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--SuccessMsgBorder) 1px !important;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--SuccessMsg) !important;
}
