.validation {
  &__nameInput {
    border-radius: 10px;
    &__rightAppendedTemplate {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -2px;
      span {
        margin-inline: 5px;
        color: var(--ValidationRight);
      }
      img {
        margin-inline: 8px;
      }
    }
    &__wrongAppendedTemplate {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: 2px;
      margin-bottom: 2px;

      span {
        padding-bottom: 5px;
        margin-inline: 5px;
        color: var(--ValidationWrong);
      }
      img {
        margin-bottom: 5px;
        margin-inline: 8px;
      }
    }
  }
  &__phoneInput {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    &__flagAppendded {
      // margin-right: -12px;
      // margin-right: -12px;
      display: flex;
      align-items: center;
      border: none;
      height: 50px;
      padding: 15px;
      border-start-end-radius: 10px;
      border-end-end-radius: 10px;
      &__flagImg {
        height: 100%;
        margin: 4px;
        flex-shrink: 1;
        margin: 8px;
      }
      span {
        color: white !important;
      }
    }
  }
}

.v-text-field__details {
  padding-top: 5px !important;
}
.v-input__slot fieldset {
  height: 55px;
}
.v-messages__message {
  font-size: 16px;
}
#input-64 {
  padding-bottom: 15px !important;
}
.v-text-field--outlined.v-input--has-state fieldset {
  border: 1px solid currentColor;
}
.v-image {
  margin-inline: 10px;
}
#input-62{
  margin-bottom: 4px;
}
// .v-application .error--text {
//   color: #00ff00 !important;
//   caret-color: #00ff00 !important;
// }

// .primary--text {
//   color: aqua !important ;
// }
// .form-group--error {
//   color: solid green;
// }

// .v-input .validation__nameInput .theme--light .v-text-field .v-text-field--is-booted .v-text-field--enclosed .v-text-field--outlined
// &__flagAppenddedMarginAr {
//   margin-left: -12px;
// }
// &__flagAppenddedMarginEn {
//   margin-right: -12px;
// }
