<template>
  <v-container fluid>
    <v-row>
      <v-col
        xs="12"
        md="6"
        lg="6"
        xl="6"
        v-for="(card, index) in cards"
        :key="index"
      >
        <v-card elevation="6" outlined shaped class="pa-5">
          <div>{{ card.title }}</div>
          <v-list>
            <v-list-item v-for="(value, key) in card.text" :key="key">
              <v-list-item-content>
                <v-list-item-title class="d-flex align-center">
                  <div class="text-right" style="width: 25%; margin-right: 5px">
                    {{ key }}:
                  </div>
                  <v-chip
                    :class="getBackgroundColorClass(value)"
                    class="colored-span"
                    style="width: 100%"
                  >
                    {{ value }}
                  </v-chip>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          title: "Time",
          text: {
            "see competition": 40,
            " Complation": 20,
            progress: 50,
          },
        },
        {
          title: "Progress",
          text: { "1 analysis": 70, "2 design": 50, "3 development": 30 },
        },
        {
          title: "Task",
          text: { inProgress: 5, completed: 80, "Not started": 30 },
        },
        {
          title: "Work load",
          text: { Empolyee1: 30, Empolyee2: 20, Empolyee3: 50 },
        },
      ],
    };
  },
  methods: {
    getBackgroundColorClass(value) {
      if (value >= 50) {
        return "blue lighten-1";
      } else if (value > 20 && value < 50) {
        return "yellow lighten-1";
      } else {
        return "grey lighten-2";
      }
    },
  },
};
</script>
