<!-- <template>
  <div class="mx-1 mb-2 pa-5">
    <Users />
  </div>
</template>

<script>
import Users from "./Users.vue";
export default {
  components: { Users },
  data() {
    return {};
  },
};
</script>
<style lang="scss"></style> -->
