<template>
  <div class="mx-1 mb-2 pa-5">
    <div v-if="isLoading && users.length === 0">Loading...</div>
    <DataTable :items="formattedUsers" :headers="headers" :itemsPerPage="5">
      <template v-slot:avatar="{ item }">
        <div class="dataTable__avatarSlot">
          <img :src="item.avatar" class="dataTable__avatarSlot__img" />
        </div>
      </template>
      <template v-slot:job="{ item }">
        <div class="dataTable__jobSlot">
          <span>{{ item.job }}</span>
          <div class="dataTable__jobSlot__icon">
            <v-img
              class="dataTable__jobSlot__icon--sizing"
              src="../assets/images/group4.svg"
            />
            <v-img
              class="dataTable__jobSlot__icon--sizing"
              src="../assets/images/group4 (1).svg"
            />
            <v-img
              class="dataTable__jobSlot__icon--sizing"
              src="../assets/images/group3.svg"
            />
          </div>
        </div>
      </template>
    </DataTable>
    <div v-if="!isLoading && users.length === 0">No data available</div>
  </div>
</template>

<script>
import DataTable from "../components/DataTable.vue";

export default {
  components: { DataTable },
  data() {
    return {
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id",
          divider: true,
          width: "30px",
        },
        { text: "", value: "avatar", divider: true, width: "90px" },
        { text: "name ", value: "name", divider: true, width: "200px" },
        { text: "email ", value: "email", divider: true },
        { text: "job ", value: "job", divider: true },
      ],
      users: [],
      isLoading: true,
    };
  },
  computed: {
    formattedUsers() {
      return this.users.map((user) => ({
        id: user.id.toString(),
        avatar: require(`../assets/images/flat-face-icon-23.png`),
        name: user.name,
        job: user.company.name,
        email: user.email,
      }));
    },
  },
  methods: {
    async loadUsers() {
      try {
        this.isLoading = true;
        const response = await this.$axios.get("users");
        this.users = response.data;
        this.isLoading = false;
      } catch (error) {
        console.error("Error loading users:", error);
        this.isLoading = false;
      }
    },
  },
  mounted() {
    this.loadUsers();
  },
};
</script>

<style></style>
