<template>
  <v-form @submit.prevent="submitForm">
    <v-row class="addUser">
      <v-text-field v-model="username" outlined :dense="true"></v-text-field>

      <ButtonComponent
        class="addUser__btn"
        variant="dense"
        color="primary"
        text="submit"
        width="150px"
        height="51px"
      />
    </v-row>
  </v-form>
</template>

<script>
import ButtonComponent from "./ButtonComponent.vue";
export default {
  components: { ButtonComponent },
  data() {
    return {
      username: "",
    };
  },
  methods: {
    submitForm() {
      console.log("Username:", this.username);
    },
  },
};
</script>

<style></style>
