<template>
  <v-card>
    <v-app-bar app flat class="appBar">
      <v-app-bar-nav-icon @click="toggleDrawer" :drawer="drawer">
        <DrawerIcon />
      </v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <AppIcons />
      <!-- <div class="appBarIcons__dividerLine"></div> -->
      <!-- <div class="appBarIcons">
        <div>
          <button
            @click="toggleLanguage"
            class="appBarIcons__localeSwitcherBtn"
          >
            {{ buttonText }}
          </button>
        </div>
      </div> -->
    </v-app-bar>
    <NavigationDrawer :drawer="drawer" :isDrawerPermanent="isDrawerPermanent" />
  </v-card>
</template>
<!-- 
 <v-app-bar app color="primary" dark>
    <NavigationDrawer />
    <v-spacer></v-spacer>
    <div>
      <FormDialog />
    </div>
    <div class="appBarIcons">
      <div>
        <button @click="toggleLanguage" class="appBarIcons__localeSwitcherBtn">
          {{ buttonText }}
        </button>
      </div>
    </div>
  </v-app-bar>



 -->
<script>
import NavigationDrawer from "@/components/NavigationDrawer.vue";
import DrawerIcon from "@/components/DrawerIcon.vue";
import AppIcons from "@/components/AppIcons.vue";
import FormDialog from "./FormDialog.vue";

export default {
  components: {
    NavigationDrawer,
    DrawerIcon,
    AppIcons,
    FormDialog,
    NavigationDrawer,
  },
  data: () => {
    return {
      drawer: false,
      isDrawerPermanent: false,
    };
  },
  name: "AppBar",
  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer;
      this.isDrawerPermanent = this.drawer;
    },
    // toggleLanguage() {
    //   if (this.$i18n.locale === "en") {
    //     localStorage.setItem("language", "ar");
    //     localStorage.setItem("direction", "rtl");
    //     console.log("Language set to Arabic");
    //     this.$i18n.locale = "ar";
    //     this.$vuetify.rtl = true;
    //   } else {
    //     localStorage.setItem("language", "en");
    //     localStorage.setItem("direction", "ltr");
    //     console.log("Language set to English");
    //     this.$i18n.locale = "en";
    //     this.$vuetify.rtl = false;
    //   }
    // },
  },
  // computed: {
  //   buttonText() {
  //     return this.$i18n.locale === "en" ? "العربية" : "English";
  //   },
  // },
};
</script>

<style scoped></style>
