<template>
  <div class="appBarIcons">
    <div class="appBarIcons__signoutBg">
      <img src="../assets/images/settingIcon.svg" />
    </div>
    <div class="appBarIcons__dividerLine"></div>
    <div class="appBarIcons__settingBg">
      <img src="../assets/images/signoutIcon.svg" />
    </div>
    <div class="appBarIcons__dividerLine"></div>
    <div class="appBarIcons">
      <div>
        <button @click="toggleLanguage" class="appBarIcons__localeSwitcherBtn">
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    toggleLanguage() {
      if (this.$i18n.locale === "en") {
        localStorage.setItem("language", "ar");
        localStorage.setItem("direction", "rtl");
        console.log("Language set to Arabic");
        this.$i18n.locale = "ar";
        this.$vuetify.rtl = true;
      } else {
        localStorage.setItem("language", "en");
        localStorage.setItem("direction", "ltr");
        console.log("Language set to English");
        this.$i18n.locale = "en";
        this.$vuetify.rtl = false;
      }
    },
  },
  computed: {
    buttonText() {
      return this.$i18n.locale === "en" ? "العربية" : "English";
    },
  },
};
</script>

<style></style>
