<template>
  <v-btn
    :width="width"
    :height="height"
    :[variant]="true"
    :color="color"
    @click="$emit('someEvent')"
  >
    {{ text }}</v-btn
  >
</template>

<script>
export default {
  props: {
    variant: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    width: {
      type: String,
      required: true,
    },
    height: {
      type: String,
      required: true,
    },
  },
  methods: {
    submit() {
      this.$emit("someEvent");
    },
  },
};
</script>

<style></style>
