<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="itemsPerPage"
      class="elevation-1 dataTable"
    >
      <template
        v-for="header in headers"
        v-slot:[`item.${header.value}`]="{ item }"
      >
        <slot :name="header.value" :item="item">
          {{ item[header.value] }}
        </slot>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  props: ["items", "headers", "itemsPerPage"],
};
</script>

<style></style>
