<template>
  <div class="drawer-icon" :class="{ change: isOpen }" @click="toggleDrawer">
    <div class="drawer-icon__bar1"></div>
    <div class="drawer-icon__bar2"></div>
    <div class="drawer-icon__bar3"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    toggleDrawer() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<style></style>
