<template>
  <v-alert class="errorMsgAlert">
    خطأ في ادخال البيانات حاول مره اخري
    <template #prepend
      ><v-img
        alt="Vuetify Logo"
        class="errorMsgAlert__img"
        contain
        src="../assets/images/groupCopy.svg"
        transition="scale-transition"
    /></template>
  </v-alert>
</template>

<script>
export default {};
</script>

<style></style>
