<template>
  <v-row justify="center">
    <v-col cols="12" sm="6" md="4" class="ErrorPageContent">
      <v-img
        alt="Vuetify Logo"
        class="ErrorPageContent__img"
        contain
        src="../assets/images/404ErrorPana.svg"
        transition="scale-transition"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {};
</script>

<style></style>
