<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <p>حفظ</p>
    <label>الإسم الأول</label>
    <v-text-field
      v-model="name"
      :rules="nameRules"
      required
      outlined
      color="#EDEEEF"
      hint="Enter your name here"
      style="margin: 0; padding: 0; border-radius: 10px"
      persistent-hint
      :error-messages="nameErrors"
    >
      <!-- <template #append>
        <div
          v-if="!valid"
          style="display: flex; align-items: center; justify-content: center"
        >
          <span style="color: red">من فضلك ادخل رقم صحيح وارقام وحروف</span>
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            src="../assets/images/groupCopy.svg"
            transition="scale-transition"
            style="margin-inline: 8px"
          />
        </div>
        <div
          v-else
          style="display: flex; align-items: center; justify-content: center"
        >
          <span style="color: green">Right answer</span>
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            src="../assets/images/groupCopy2.svg"
            transition="scale-transition"
            style="margin-inline: 8px"
          />
        </div>
      </template> -->
    </v-text-field>
    <div>
      <label>One two </label>
      <v-text-field
        required
        hint="Enter your email address"
        persistent-hint
        v-model="email"
        :rules="phoneRules"
        outlined
        color="#EDEEEF"
        dense
        style="margin: 0; padding: 0; border-radius: 10px"
      >
        <template #append>
          <div
            class="v-input__append-inner primary"
            style="
              display: flex;
              align-items: center;
              border: none;
              height: 50px;
              padding: 15px;
              margin-top: -8px;
              border-start-end-radius: 10px;
              border-end-end-radius: 10px;
            "
          >
            <v-img
              alt="Vuetify Logo"
              class="shrink mr-2"
              src="../assets/images/svgexport672Copy.svg"
              transition="scale-transition"
              style="height: 100%; margin: 4px"
            />
            <span style="color: white !important">+990</span>
          </div>
        </template>
      </v-text-field>
    </div>
    <v-btn :disabled="!valid" color="secondary" class="mr-4" @click="validate">
      تسجيل
    </v-btn>
    <v-btn
      variant="outlined"
      outlined
      color="secondary"
      class="mr-4"
      @click="reset"
    >
      إلغاء
    </v-btn>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    name: "",
    nameRules: [
      (v) => !!v || "Enter your name here",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    phoneRules: [
      (v) => !!v || "phone is required",
      (v) => /.+@.+\..+/.test(v) || "Phone must be valid",
    ],
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
  },
  computed: {
    nameErrors() {
      return !this.valid ? "من فضلك ادخل رقم صحيح وارقام وحروف" : "";
    },
  },
};
</script>
<style>

</style>
