<template>
  <v-container>
    <div style="height: 50px"></div>
    <AddUserComponent />
    <ButtonComponent
      v-for="btnStyle in btnStyles"
      :key="btnStyle.btnText"
      :variant="btnStyle.btnVariant"
      :color="btnStyle.btnColor"
      :text="btnStyle.btnText"
      :width="btnStyle.width"
      :height="btnStyle.height"
      class="ma-2"
    />
    <div style="height: 50px"></div>
    <ErrorMsg />
    <SuccessMsg />
    <ErrorPage />
    <InternalServerError />

    <p>Validation Inputs</p>
    <ValidationInput />
    <!-- <Validation /> -->
  </v-container>
</template>

<script>
import AddUserComponent from "./AddUserComponent.vue";
import ButtonComponent from "./ButtonComponent.vue";
import ErrorMsg from "./ErrorMsg.vue";
import ErrorPage from "./ErrorPage.vue";
import InternalServerError from "./InternalServerError.vue";
import SuccessMsg from "./SuccessMsg.vue";
import ValidationInput from "./ValidationInput.vue";
export default {
  name: "HelloWorld",

  components: {
    ButtonComponent,
    ErrorMsg,
    SuccessMsg,
    ErrorPage,
    InternalServerError,
    AddUserComponent,
    ValidationInput,
    ValidationInput,
  },

  data() {
    return {
      btnStyles: [
        {
          btnColor: "primary",
          btnVariant: "outlined",
          btnText: "one",
          width: "350px",
          height: "51px",
        },
        {
          btnColor: "secondary",
          btnVariant: "tonal",
          btnText: "two",
          width: "350px",
          height: "51px",
        },
        {
          btnColor: "primary",
          btnVariant: "tonal",
          btnText: "three",
          width: "350px",
          height: "51px",
        },
        {
          btnColor: "secondary",
          btnVariant: "outlined",
          btnText: "four",
          width: "350px",
          height: "51px",
        },
        {
          btnColor: "secondary",
          btnVariant: "tonal",
          btnText: "five",
          width: "165px",
          height: "51px",
        },
        {
          btnColor: "primary",
          btnVariant: "tonal",
          btnText: "six",
          width: "165px",
          height: "51px",
        },
      ],
    };
  },
};
</script>
