<template>
  <v-row justify="center">
    <v-col cols="12" sm="6" md="4" class="internalServerContent">
      <v-img
        alt="Vuetify Logo"
        class="internalServerContent__img"
        contain
        src="../assets/images/500InternalServerErrorPana1.svg"
        transition="scale-transition"
      />
    </v-col>
  </v-row>
</template>
<script>
export default {};
</script>

<style></style>
