<template>
  <div>
    <v-navigation-drawer
      :right="isArabic"
      class="navigationDrawer"
      v-model="drawer"
      app
      :permanent="isDrawerPermanent"
      ><div class="navigationDrawer__avatar">
        <v-avatar color="gray2" size="89">Logo</v-avatar>
      </div>
      <v-list dense>
        <v-list-item-group>
          <v-list-item
            v-for="(link, index) in links"
            :key="index"
            :to="link.route"
            link
            class="navigationDrawer__Item"
          >
            <v-list-item-icon>
              <div class="navigationDrawer__Item__icon">
                <img
                  class="navigationDrawer__Item__icon__img"
                  :src="link.icon"
                  alt=""
                />
              </div>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ link.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item></v-list-item-group
        >
      </v-list>
    </v-navigation-drawer>
    <!-- <v-app-bar-nav-icon
      class="white--text"
      @click="drawer = !drawer"
    ></v-app-bar-nav-icon> -->
  </div>
</template>

<script>
export default {
  name: "NavigationDrawer",
  props: {
    drawer: Boolean,
    isDrawerPermanent: Boolean,
  },
  data: () => {
    return {
      // drawer: false,
      links: [
        {
          icon: require("../assets/images/dashboard@3x.png"),
          text: "Home",
          route: "/",
        },
        {
          icon: require("../assets/images/dashboard@3x.png"),
          text: "Users",
          route: "/users",
        },
        {
          icon: require("../assets/images/dashboard@3x.png"),
          text: "Statistics",
          route: "/statistics",
        },
      ],
    };
  },
  computed: {
    isArabic() {
      return this.$i18n.locale === "ar";
    },
  },
};
</script>

<style></style>
