<template>
  <validation-observer ref="observer" v-slot="{ invalid }">
    <form @submit.prevent="submit" class="validation">
      <label for="">oneaa</label>
      <validation-provider
        v-slot="{ errors }"
        name="Name"
        rules="required|max:10"
      >
        <v-text-field
          class="validation__nameInput"
          v-model="name"
          :error-messages="errors"
          required
          outlined
          color="SuccesInput"
          hint="ادخل الاسم الاول الخاص بـــك لمتابعة التواصل عبر اسمك"
          persistent-hint
        >
          <template #append>
            <div
              class="validation__nameInput__rightAppendedTemplate"
              v-if="name && errors.length < 1"
            >
              <span>صحيح ومطابق !</span>
              <v-img
                style="display: block"
                alt="Vuetify Logo"
                class="shrink mr-2"
                src="../assets/images/groupCopy2.svg"
                transition="scale-transition"
              />
            </div>
            <div
              class="validation__nameInput__wrongAppendedTemplate"
              v-else-if="errors.length > 0"
            >
              <span>من فضلك ادخل رقم صحيح وارقام وحروف</span>
              <v-img
                alt="Vuetify Logo"
                class="shrink mr-2"
                src="../assets/images/groupCopy.svg"
                transition="scale-transition"
              />
            </div>
          </template>
        </v-text-field>
      </validation-provider>
      <label for="">one</label>
      <validation-provider
        v-slot="{ errors }"
        name="phoneNumber"
        rules="min:5|max:12|numeric|required"
      >
        <v-text-field
          class="validation__phoneInput"
          v-model="phoneNumber"
          :error-messages="errors"
          required
          color="SuccesInput"
          outlined
          dense
          hint="ادخل رقم جوالك لمتابعة التواصل معك عليه"
          persistent-hint
        >
          <template #append>
            <div
              :class="{
                flagAppenddedMarginEn: getDirectionEn,
                flagAppenddedMarginAr: getDirectionAr,
              }"
              class="v-input__append-inner primary validation__phoneInput__flagAppendded mt-n2"
            >
              <v-img
                alt="Vuetify Logo"
                class="validation__phoneInput__flagAppendded__flagImg"
                src="../assets/images/svgexport672Copy.svg"
                transition="scale-transition"
              />
              <span>+990</span>
            </div>
          </template></v-text-field
        ></validation-provider
      >
      <ButtonComponent
        name="submit"
        text="Submit"
        color="secondary"
        class="mr-4"
        @someEvent="submit"
        width="160px"
        height="51px"
        variant="dense"
        :disabled="invalid"
      />
      <ButtonComponent
        name="clear"
        text="clickaa"
        color="secondary"
        class="mr-4"
        @someEvent="clear"
        variant="outlined"
        width="160px"
        height="51px"
      />
    </form>
  </validation-observer>
</template>
<script>
import ButtonComponent from "./ButtonComponent.vue";



export default {
  components: {
    ButtonComponent,
  },
  data: () => ({
    name: "",
    phoneNumber: "",
  }),

  methods: {
    submit() {
      this.$refs.observer.validate();
    },
    clear() {
      this.name = "";
      this.phoneNumber = "";
      this.$refs.observer.reset();
    },
  },
  computed: {
    getDirectionEn() {
      localStorage.getItem("direction") === "ltr";
    },

    getDirectionAr() {
      localStorage.getItem("direction") === "rtl";
    },
  },
};
</script>
<style></style>
