<template>
  <v-app>
    <v-main class="gray">
      <AppBar />
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import AppBar from "@/components/AppBar.vue";

import {
  setDocumentDirectionPerLocale,
  setDocumentLang,
} from "@/util/i18n/document";
export default {
  name: "App",
  components: { AppBar },
  data: () => ({}),
  methods: {},
  beforeMount() {
    // const selectedLanguage = localStorage.getItem("language");
    // const selectedDirection = localStorage.getItem("direction");
    // console.log("Selected language:", selectedLanguage);
    // if (selectedLanguage) {
    //   this.$i18n.locale = selectedLanguage;
    //   this.$vuetify.rtl = selectedDirection === "rtl";
    // }    
  },

  mounted() {
    this.$watch(
      "$i18n.locale",
      (newLocale, oldLocale) => {
        if (newLocale === oldLocale) {
          return;
        }
        setDocumentLang(newLocale);
        setDocumentDirectionPerLocale(newLocale);
      },
      { immediate: true }
    );
    const selectedLanguage = localStorage.getItem("language");
    const selectedDirection = localStorage.getItem("direction");
    // console.log(selectedLanguage);
    if (selectedLanguage) {
      this.$i18n.locale = selectedLanguage;
      this.$vuetify.rtl = selectedDirection === "rtl";
    }
  },
};
</script>
